* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
}

header {
  color: #3e2012;
  height: 15vh;
  width: 100%;
  margin-bottom: 2em;
}
header nav .navbar-brand {
  width: 190px;
  height: 10vh;
  align-content: center;
}
header nav .navbar-brand img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav .menu .bar {
  width: 30px;
  height: 5px;
  margin: 5px auto;
  background-color: #362012;
}
header nav li a {
  color: #3e2012;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
header nav li a:hover {
  background-color: #362012;
  color: white;
  transform: scale(1.05);
}

header {
  z-index: 50;
  position: fixed;
  background-color: #f4f4f4;
  top: 0;
}

.banner {
  position: relative;
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
  padding: 3.5em 0;
  text-align: center;
}
.banner .bannerh1 {
  margin-top: 2.5em;
}
.banner .bannerh1 h1 {
  font-size: 10em;
  font-weight: 700;
  color: #EDC588;
  z-index: -1;
}
.banner .decoration {
  margin-top: 2em;
  position: relative;
}
.banner .decoration .coffee-seed, .banner .decoration .coffee-cup {
  max-width: 400px;
  height: 250px;
  position: absolute;
  bottom: 5%;
  left: 30%;
}
.banner .decoration .coffee-seed img, .banner .decoration .coffee-cup img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner .decoration .coffee-cup {
  height: 400px;
  left: 43%;
  bottom: 20;
  rotate: 22deg;
  z-index: 1;
}

.container-fluid .row .col-lg-6 .content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #3e2012;
  margin-bottom: 1em;
  width: 50%;
  z-index: 2;
}
.container-fluid .row .col-lg-6 .content .banner-btn {
  background-color: #362012;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 200px;
  height: 50px;
  border: none;
}
.container-fluid .row .col-lg-6 .content .banner-btn:hover {
  background-color: white;
  color: #362012;
  transform: scale(1.05);
}

.form-container {
  background-color: rgba(62, 39, 35, 0.948);
  padding: 2rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 2rem auto;
}
.form-container .sin-up {
  background-color: #EDC588;
  color: white;
}
.form-container .log-in {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #EDC588;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-top: 2rem;
  top: 20px;
  width: 100%;
  min-height: 1000px;
  margin-top: 2em;
}
.about .container .row .col-lg-6 .img-wrapper {
  height: 600px;
  width: 100%;
}
.about .container .row .col-lg-6 .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .container .row .col-lg-6 .text-wrapper {
  padding: 2rem;
  width: 100%;
  margin-top: 2rem;
}
.about .container .row .col-lg-6 .text-wrapper h3 {
  font-size: 30px;
  font-weight: 700;
  color: #3e2012;
  margin-top: 1em;
  text-align: start;
  width: 50%;
  z-index: 2;
}
.about .container .row .col-lg-6 .text-wrapper p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-top: 1em;
  text-align: start;
  width: 100%;
  z-index: 2;
}
.about .container .row .col-lg-6 .text-wrapper button {
  background-color: #362012;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 200px;
  height: 50px;
}
.about .container .row .col-lg-6 .text-wrapper button:hover {
  background-color: white;
  color: #362012;
  transform: scale(1.05);
}
.about .container .row .col-lg-6 .text-wrapper .serve {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.about .container .row .col-lg-6 .text-wrapper .serve .serve-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 150px;
}
.about .container .row .col-lg-6 .text-wrapper .serve .serve-item img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about .container .row .col-lg-6 .text-wrapper .serve .serve-item h4 {
  font-size: 30px;
  font-weight: 700;
  color: #3e2012;
  margin-top: 1em;
}
.about .container .row .col-lg-6 .text-wrapper .serve .serve-item p {
  text-align: center;
}

.recipes {
  width: 100%;
  min-height: 500px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recipes .container .col-md-12 .wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.recipes .container .col-md-12 .wrapper h3 {
  font-size: 30px;
  font-weight: 700;
  color: #3e2012;
  margin-top: 1em;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.recipes .container .col-md-12 .wrapper .service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem;
  width: 300px;
  height: 400px;
  align-items: center;
  text-align: center;
}
.recipes .container .col-md-12 .wrapper .service-item .img-wrapper {
  width: 100%;
  height: 175px;
}
.recipes .container .col-md-12 .wrapper .service-item .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.recipes .container .col-md-12 .wrapper .service-item button {
  background-color: #362012;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  transition: all 0.3s ease;
  width: 150px;
  height: 50px;
  border: none;
}
.recipes .container .col-md-12 .wrapper .service-item button:hover {
  background-color: white;
  color: #362012;
  transform: scale(1.05);
}
.recipes .container .col-md-12 .wrapper .service-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.our-services {
  width: 100%;
  min-height: 600px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-services h2 {
  font-size: 30px;
  font-weight: 700;
  color: #3e2012;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}
.our-services p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-top: 1em;
  text-align: center;
  width: 40%;
}
.our-services .services-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 1.5em;
}
.our-services .services-wrapper .services-item {
  width: 300px;
  height: 450px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.our-services .services-wrapper .services-item span {
  background-color: rgba(244, 244, 244, 0.734);
  width: 80% x;
  margin-bottom: 20px;
  padding: 0.3em;
}

.team {
  width: 100%;
  min-height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team h2 {
  font-size: 30px;
  font-weight: 700;
  color: #3e2012;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}
.team p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-top: 1em;
  text-align: center;
  width: 50%;
}

.team-wrapper {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
  padding: auto 10px;
}
.team-wrapper .team-item {
  width: 50%;
  height: 550px;
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.team-wrapper .team-item .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(62, 32, 18, 0.311);
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-wrapper .team-item .overlay span {
  background-color: rgba(255, 255, 255, 0.881);
  padding: 0.8em;
  color: #3e2012;
  font-weight: 400;
}
.team-wrapper #teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-wrapper #teams .teams-item {
  width: 100%;
  height: 183.33px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.partners {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partners h2 {
  font-size: 30px;
  font-weight: 700;
  color: #3e2012;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}
.partners p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-top: 1em;
  text-align: center;
  width: 60%;
}
.partners .partners-wrapper {
  width: 95%;
  min-height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f4f4f4;
  margin-top: 1.5em;
}
.partners .partners-wrapper .partners-item {
  background-color: white;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
.partners .partners-wrapper .partners-item .p-img {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
}
.partners .partners-wrapper .partners-item .p-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.partners .partners-wrapper .partners-item p, .partners .partners-wrapper .partners-item h3, .partners .partners-wrapper .partners-item span {
  text-align: start;
  margin-left: 10px;
  color: #3e2012;
  width: 100%;
}

.testmonial {
  width: 100%;
  min-height: 1020px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testmonial p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-top: 1em;
  text-align: center;
  width: 40%;
}
.testmonial h2 {
  font-size: 30px;
  font-weight: 700;
  color: #3e2012;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}
.testmonial .testimonies {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testmonial .testimonies .first-test {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}
.testmonial .testimonies .first-test .test2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  z-index: 2;
}
.testmonial .testimonies .first-test .test2 .small-img {
  width: 50%;
  height: 450px;
}
.testmonial .testimonies .first-test .test2 .small-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testmonial .testimonies .first-test .test2 .test-content {
  width: 50%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testmonial .testimonies .first-test .test2 .test-content .line {
  width: 120px;
  background-color: #362012;
  height: 3px;
}
.testmonial .testimonies .first-test .test2 .test-content .icon-div {
  color: #3e2012;
  font-size: 2rem;
  gap: 10px;
  margin-top: 20px;
}
.testmonial .testimonies .first-test .test2 .comment {
  background-color: #EDC588;
}
.testmonial .testimonies #test-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
}
.testmonial .testimonies #test-1 #img-1 {
  width: 50%;
  height: 450px;
}
.testmonial .testimonies #test-1 #img-1 img {
  width: 100%;
  height: 100%;
}
.testmonial .testimonies #test-1 .test-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testmonial .testimonies #test-1 .test-content p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-top: 1em;
  text-align: center;
  width: 70%;
}
.testmonial .testimonies #test-1 .test-content .icon-div {
  color: #3e2012;
  font-size: 2rem;
  gap: 10px;
  margin-top: 20px;
}
.testmonial .testimonies::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.8);
}

footer .footer-content {
  width: 100%;
  min-height: 350px;
  display: flex;
  margin-top: 2em;
  flex-wrap: wrap;
  color: #ffffff;
}
footer .footer-content ul {
  list-style: none;
}
footer .footer-content ul a {
  color: white;
  text-decoration: none;
}
footer .footer-content .footer-item {
  background-color: #EDC588;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 20%;
  color: #3e2012;
  padding-left: 20px;
}
footer .footer-content .foot-links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-content .foot-links .links-item {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 280px;
}
footer .footer-content .foot-links .links-item .socials {
  display: flex;
  gap: 20px;
  font-size: 2rem;
  color: #EDC588;
  margin-top: 2rem;
}
footer .footer-content .foot-links .links-item .subcribe {
  background-color: #EDC588;
  width: 200px;
  height: 50px;
  padding: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
footer .footer-content .foot-links .links-item .subcribe span {
  font-weight: 700;
  color: #362012;
}
footer .footer-content .foot-links .links-item .subcribe button {
  background-color: #362012;
  color: #ffffff;
  border: none;
  padding: 0.5em;
  height: 100%;
}
footer .footer-content .foot-links .links-item .subcribe button a {
  text-decoration: none;
  color: #ffffff;
}
footer .footer-content .foot-links::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 32, 18, 0.646);
}

@media (max-width: 992px) {
  header {
    height: 10vh;
    padding: 10px 0;
  }
  header nav .navbar-brand {
    width: 150px;
    height: 8vh;
  }
  .banner {
    height: 80vh;
  }
  .banner .bannerh1 h1 {
    font-size: 5em;
  }
  .banner .decoration .coffee-seed, .banner .decoration .coffee-cup {
    max-width: 300px;
    height: 200px;
  }
  .about {
    margin-top: 20rem;
  }
  .about .container .row .col-lg-6 .text-wrapper h3 {
    font-size: 30px;
    width: 100%;
  }
  .container .row .col-lg-6 .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partners-wrapper {
    flex-wrap: wrap;
  }
  .testmonial p {
    width: 80%;
  }
  .testmonial h2 {
    width: 100%;
  }
  .testmonial .testimonies .first-test {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .testmonial .testimonies .first-test .test2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .testmonial .testimonies .first-test .test2 .small-img {
    width: 100%;
    height: 450px;
  }
  .testmonial .testimonies .first-test .test2 .test-content {
    width: 100%;
  }
  .testmonial .testimonies #test-1, .testmonial .testimonies .first-test {
    flex-wrap: wrap;
    justify-content: center;
  }
  .testmonial .testimonies #test-1 #img-1, .testmonial .testimonies #test-1 .small-img, .testmonial .testimonies .first-test #img-1, .testmonial .testimonies .first-test .small-img {
    width: 100%;
  }
  .testmonial .testimonies #test-1 #img-1 img, .testmonial .testimonies #test-1 .small-img img, .testmonial .testimonies .first-test #img-1 img, .testmonial .testimonies .first-test .small-img img {
    width: 100%;
    height: 100%;
  }
  .testmonial .testimonies #test-1 .test-content, .testmonial .testimonies .first-test .test-content {
    width: 100%;
  }
  footer .footer-content {
    border: 2px solid red;
    color: #ffffff;
  }
  footer .footer-content ul {
    list-style: none;
  }
  footer .footer-content ul a {
    color: white;
    text-decoration: none;
  }
  footer .footer-content .footer-item {
    flex-direction: column;
    width: 100%;
  }
  footer .footer-content .foot-links {
    width: 100%;
  }
  footer .footer-content .foot-links .links-item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .navbar-nav {
    background-color: #EDC588;
    width: 100%;
  }
  .test2 {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .navbar-brand {
    display: none;
  }
  p {
    width: 80%;
  }
  header {
    height: 8vh;
    padding: 5px 0;
  }
  header nav .navbar-brand {
    width: 120px;
    height: 6vh;
  }
  .banner {
    height: 70vh;
  }
  .banner .bannerh1 h1 {
    font-size: 4em;
  }
  .banner .decoration .coffee-seed, .banner .decoration .coffee-cup {
    max-width: 250px;
    height: 200px;
  }
  .about {
    margin-top: 60rem;
  }
  .team .team-wrapper .team-item {
    width: 320px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .team .team-wrapper #teams {
    display: none;
  }
  footer .footer-content .footer-item {
    align-items: center;
  }
  footer .footer-content .logo {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  footer .footer-content .logo img {
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  footer .footer-content .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer-content .details p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #000000;
  }
}/*# sourceMappingURL=style.css.map */